{% load static %}

<!-- ***** Header Area Start ***** -->
<header class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md main-nav navbar-light">
          <!-- ***** Logo Start ***** -->
          <a href="{% url 'index' %}" class="navbar-brand logo">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Toggler button start ***** -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- ***** Menu Start ***** -->
          <div class="collapse navbar-collapse mb-0 pb-0" id="navbar">
            <ul class="nav pb-4 mx-auto">
              <li><a href="{% url 'index' %}" class="active">Home</a></li>
              {% comment %} <li><a href="#">News</a></li> {% endcomment %}
              <li><a href="{% url 'listings' %}">Discover</a></li>
              <li><a href="{% url 'about' %}">About Us</a></li>
            </ul>

            {% comment %} AUTHENTICATION BUTTONS {% endcomment %}
            <div class="auths-btn d-flex pb-3 justify-content-center">
              {% if user.is_authenticated %}
              <a href="#" class="btn log mx-3" data-toggle="modal" data-target="#loginModal">Login</a>
              <a href="javascript:{document.getElementById('logout').submit()}" class="btn reg">Logout</a>
              {% else %}
              <a href="#" class="btn log mx-3" data-toggle="modal" data-target="#loginModal">Login</a>
              <a href="#" class="btn reg" data-toggle="modal" data-target="#registerModal">Register</a>
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->



<!--  .............................................
      .............................................
            AUTHENTICATION FORMS
      .............................................
      .............................................-->

<!-- Login Modal -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section class="modal-body">

        <div class="signup-content">
          <form method="POST" id="signup-form" class="signup-form m-0">
            {% csrf_token %}
            <h2 class="form-title text-center pb-4">Log in</h2>
            <div class="form-group">
              <input type="text" class="form-input" name="username" id="name" placeholder="Your Name" required autofocus />
            </div>

            <div class="form-group">
              <input type="password" class="form-input" name="password" id="password" placeholder="Password" />
              <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
            </div>

            <div class="form-group">
              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
              <label for="agree-term" class="label-agree-term"> Remember me</label>
            </div>
            <div class="form-group">
              <input type="submit" name="submit" id="submit" class="form-submit" value="Sign in" />
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>


<!-- Register Modal -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section class="modal-body">

        <div class="signup-content">
          <form method="POST" id="signup-form" class="signup-form m-0">
            {% csrf_token %}
            <h2 class="form-title text-center pb-4">Create account</h2>
            <div class="form-group">
              <input type="text" class="form-input" name="username" id="usernameField" placeholder="Username"
                value="{{fieldValues.username}}" autofocus />
              <p class="invalid_feedback invalid-feedback" style="display:none"></p>
            </div>
            <div class="form-group">
              <input type="email" class="form-input" name="email" id="emailField" placeholder="Your Email"
                value="{{fieldValues.email}}">
              <div class="emailFeedBackArea invalid-feedback " style="display:none;"> </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-input" name="password" id="password" placeholder="Password" />
              <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input type="password" class="form-input" name="c_password" id="re_password"
                placeholder="Repeat your password" />
            </div>
            <div class="form-group">
              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
              <label for="agree-term" class="label-agree-term"> I agree all statements in <a href="#"
                  class="term-service">Terms of service</a></label>
            </div>
            <div class="form-group">
              <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
</div>

<!--  .............................................
      .............................................
            AUTHENTICATION FORMS
      .............................................
      .............................................-->