{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="other-banner-content" class="d-flex align-items-center justify-content-center m-0 py-3">
    <div class="container">
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <h1 class="p-2">Add Your Listing</h1>
                    <p class="text-light"><b>NOTE: </b>Your are only allowed to add only one listing</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======== Banner content end ======== -->
<br>

<div class="container d-flex justify-content-center my-5 mt-5">
    <form action="{% url 'add_listing' %}" method="POST" enctype="multipart/form-data" id="list" class="shadow-lg p-3 mb-5 bg-white rounded listing py-5 w-75">
        {% csrf_token %}
        <h2 class="text-center">REGISTER YOUR LISTING</h2>
        <!-- Alerts -->
        {% if messages %}
        {% for message in messages %}
        <div id="message" class="alert-{{ message.tags }} alert-dismissible fade show text-center my-3 py-2" role="alert">
            <small>{{ message }}</small>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor%}
        {% endif%}

        
       <div class="container d-flex justify-content-center p-3 py-4">
            <span class="step mx-3"></span>
            <span class="step mx-3"></span>
            <span class="step mx-3"></span>
            <span class="step mx-3"></span>
        </div>
        <!-- One "tab" for each step in the form: -->

        <div class="tab row px-3">
            <div class="col-lg-12 p-2">
                <label class="text-dark">Name:</label>
                {{ form.name }}
            </div>
            <div class="col-lg-12 p-2">
                <label class="text-dark">Category:</label>
                {{ form.category }}
            </div>
            <div class="col-lg-12 p-2  mb-5">
                <label class="text-dark">Email Address:</label>
                {{ form.email }}
            </div>
        </div>
        <div class="tab row px-3">
            <div class="col-lg-12 p-2">
                <label class="text-dark">Location:</label>
                {{ form.location }}
            </div>
            <div class="col-lg-12 p-2 mb-5">
                <label class="text-dark">Phone Number:</label>
                {{ form.phone_number }}
            </div>
            <div class="col-lg-12 p-2 mb-5 text-dark"><h5>Social media links(Optional):</h5>
                <div class="row py-2">
                    <div class="col-md-4">
                        <label class="text-dark">Facebook:</label>
                        {{ form.facebook }}
                    </div>
                    <div class="col-md-4">
                        <label class="text-dark">Instagram:</label>
                        {{ form.instagram }}
                    </div>
                    <div class="col-md-4">
                        <label class="text-dark">Website:</label>
                        {{ form.website }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab row px-3">
            <div class="col-lg-12 p-2 mb-5 text-dark"><h5>Operation Hours:</h5>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label class="text-dark">Opening Time:</label>
                        {{ form.opening_time }}
                    </div>
                    <div class="col-md-6">
                        <label class="text-dark">Closing Time:</label>
                        {{ form.closing_time }}
                    </div>
                </div>
            </div>
            <div class="col-lg-12 p-2">
                <label class="text-dark">Description:</label>
                {{ form.description }}
            </div>
        </div>
        <div class="tab row px-3 text-dark">Upload Your Listings Photos:
            <div class="col-lg-12 p-2">
                <label class="text-dark">Main Photo:</label>
                {{ form.photo_main }}
            </div>
            <div class="col-lg-12 p-2">
                <label class="text-dark d-block">Sub photo1:</label>
                {{ form.photo_1 }}
            </div>
            <div class="col-lg-12 p-2">
                <label class="text-dark d-block">Sub photo2:</label>
                {{ form.photo_2 }}
            </div>
            <div class="col-lg-12 p-2">
                <label class="text-dark d-block">Sub photo3:</label>
                {{ form.photo_3 }}
            </div>
            <div class="col-lg-12 p-2 mb-5">
                <label class="text-dark d-block">Sub photo4:</label>
                {{ form.photo_4 }}
            </div>
        </div>
        <div style="overflow:auto;">
            <div style="float:right;">
                <button class="btn step-btn btn-lg px-4" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button class="btn step-btn btn-lg px-4" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
