{% extends 'base.html' %}
{% load static %}
{% block title %} | Reset Password {% endblock %}
{% block content %}


<div class="form-v6">
  <div class="page-content">
    <div class="form-v6-content shadow-lg">
      <form method="POST" class="form-detail">
        {% csrf_token %}
        <h2>Reset Password</h2>
        {% include 'partials/_messages.html' %}
        <div class="form-row">
          <input type="password" name="new_password" id="your-email" class="input-text" placeholder="Confirm password" required autofocus>
        </div>
        <div class="form-row">
          <input type="password" name="confirm_password" id="your-email" class="input-text" placeholder="New password" required autofocus>
        </div>
        <div class="form-row-last">
          <input type="submit" name="register" class="register" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
