{% extends 'base.html' %}
{% load static %}
{% block title %} | Forgot Password {% endblock %}
{% block content %}


<div class="form-v6">
  <div class="page-content">
    <div class="form-v6-content shadow-lg">
      <form method="POST" class="form-detail">
        {% csrf_token %}
        <h2>Forgot Password</h2>
        {% include 'partials/_messages.html' %}
        <div class="form-row">
          <input type="email" name="email" id="your-email" class="input-text" placeholder="Email Address" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" autofocus>
        </div>
        <div class="form-row-last">
          <input type="submit" name="register" class="register submit-btn" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
