{% extends 'base.html' %}
{% load static %}
{% block title %} | Login {% endblock %}
{% block content %}


<div class="form-v6">
  <div class="page-content">
    <div class="form-v6-content shadow-lg">
      <form action="{% url 'login' %}" method="POST" class="form-detail">
        {% csrf_token %}
        <h2>Login</h2>
        {% include 'partials/_messages.html' %}
        <div class="form-row">
          <input type="text" name="username" id="your-email" class="input-text" placeholder="Username" required autofocus>
        </div>
        <div class="form-row">
          <input type="password" name="password" id="passwordField" class="input-text" placeholder="Password" required>
        </div>
        <small class="float-right text-dark showPasswordToggle mb-4">SHOW</small>
        <div class="form-row d-flex justify-content-center mb-3">
          <a href="{% url 'forgotPassword' %}" class="text-center">Forgot password? </a>
        </div>
        <div class="form-row-last">
          <input type="submit" name="register" class="register submit-btn" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}