{% extends 'base.html' %}
{% load static %}
{% block title %} | Register {% endblock %}
{% block content %}
<!-- ====== Sign-in Modal ======= -->



<div class="form-v6">
  <div class="page-content">
    <div class="form-v6-content shadow-lg">
      <form action="{% url 'register' %}" method="POST" class="form-detail">
        <h2>Register</h2>
        {% csrf_token %}

        {% include 'partials/_messages.html' %}

        <div class="form-row">
          <input type="text" name="username" id="usernameField" class="input-text m-0" placeholder="Username"
            value="{{fieldValues.username}}" autofocus>
        </div>
        <p class="invalid_feedback invalid-feedback" style="display:none">
        </p>
        <p class="text-sm text-success usernameSuccessOutput pb-2 d-none"></p>
        <div class="form-row mt-4 pt-2">
          <input type="email" name="email" id="emailField" class="input-text m-0" placeholder="Email Address"
            value="{{fieldValues.email}}">
        </div>
        <div class="emailFeedBackArea invalid-feedback " style="display:none;">
        </div>
        <div class="form-row mt-4 pt-2">
          <input type="password" name="password" id="passwordField" class="input-text" placeholder="Password">
        </div>
        <small class="float-right text-dark showPasswordToggle">SHOW</small>
        <div class="form-row-last pt-4">
          <input type="submit" name="register" class="submit-btn register " value="Register">
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}