{% extends 'base.html' %}
{% load static %}
{% block title %} | Register Listings {% endblock %}
{% block content %}
<section id="other-banner-content" class="d-flex align-items-center justify-content-center m-0 py-3">
    <div class="container">
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <h1 class="p-2">Add Your Listing</h1>
                    <p class="text-light"><b>NOTE: </b>Your are only allowed to add only one listing</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======== Banner content end ======== -->
<br>

<div class="container d-flex justify-content-center mb-5 pb-3">
    <form action="{% url 'add_listings' %}" method="POST" enctype="multipart/form-data" id="list" class="shadow-lg p-3 mb-5 StepForm">
        {% csrf_token %}

        <!-- Circles which indicates the steps of the form: -->
        <div class="container d-flex justify-content-center p-3 py-1">
            <span class="step mx-3"></span>
            <span class="step mx-3"></span>
            <span class="step mx-3"></span>
            <span class="step mx-3"></span>
        </div>


        <!-- Step One -->
        <section class="form tab">
            <h1 class="form__title">Step 1/4</h1>


            <div class="form__input">
                <label for="businessName" class="form-label">Business Name</label>
                {{ form.name }}
            </div>

            <div class="form__input">
                <label for="businessEmail">Business Email</label>
                {{ form.email }}
            </div>

            <div class="form__input">
                <label for="businessCategory">Select Business category:</label>
                {{ form.category }}
            </div>
        </section>

        <!-- Step Two -->
        <section class="form tab ">
            <h1 class="form__title">Step 2/4</h1>

            <div class="form__input">
                <label for="businessAddress">Business Address</label>
                {{ form.location }}
            </div>
            <div class="form__input">
                <label for="businessContact">Business Contact</label>
                {{ form.phone_number }}
            </div>
            <div class="form__input">
                <label for="businessContact">Business social media links (optional)</label>
                {{ form.facebook }}
            </div>
            <div class="form__input">
                {{ form.website }}
            </div>
            <div class="form__input">
                {{ form.instagram }}
            </div>
        </section>


        <!-- Step Three -->

        <section class="form tab">
            <h1 class="form__title">Step 3/4</h1>
            <div class="row">
                <div class="form__input col-lg-6 col-md-4 col-sm-12">
                    <label for="businessOpeningHrs">Opening Hours</label>
                    {{ form.opening_time }}
                </div>
                <div class="form__input col-lg-6 col-md-4 col-sm-12">
                    <label for="businessClosingHrs">Closing Hours</label>
                    {{ form.closing_time }}
                </div>
            </div>
            <div class="form__input">
                <label for="businessDescription">Business Description</label><br>
                {{ form.description }}
            </div>
        </section>

        <section class="form image-section tab">
            <h1 class="form__title">Step 4/4</h1>
            <div class="form__input">
                <label for="businessDescription">Add Images for your business</label>
            </div>

            <div class="row">
                <div class="user_img col-md-4">
                    <div class="user_img_content">
                        {{ form.photo_main }}
                        <div class="placeholder">
                            <img src="Vector.png" alt="Add image icon">
                        </div>
                    </div>
                </div>
                <div class="user_img col-md-8">
                    <div class="user_img_content">
                        {{ form.photo_1 }}
                        <div class="placeholder">
                            <img src="Vector.png" alt="Add image icon">
                        </div>
                    </div>
                </div>
                <div class="user_img col-md-4">
                    <div class="user_img_content">
                        {{ form.photo_2 }}
                        <div class="placeholder">
                            <img src="Vector.png" alt="Add image icon">
                        </div>
                    </div>
                </div>
                <div class="user_img col-md-4">
                    <div class="user_img_content">
                        {{ form.photo_3 }}
                        <div class="placeholder">
                            <img src="Vector.png" alt="Add image icon">
                        </div>
                    </div>
                </div>
                <div class="user_img col-md-4">
                    <div class="user_img_content">
                        {{ form.photo_4 }}
                        <div class="placeholder">
                            <img src="Vector.png" alt="Add image icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button class="btn step-btn btn-lg px-4" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button class="btn step-btn btn-lg px-4" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}