{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block title %} | Listings {% endblock %}
{% block content %}


<!-- ***** main-banner start ***** -->
<div class="main-banner">
  <div class="container other-pages">
    <div class="row">
      <div class="col-lg-12 p-0 m-0">
        <div class="top-text header-text">
          <h3 class="p-0 mb-0 text-center">All Categories</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** main-banner end ***** -->

<!--       CATEGOREIS SELECT SECTION     -->
<section id="categories" class="container pt-5 mt-4 mb-5">
  <!--            CATEGORIES head title-->
  <div class="sectionTitle  d-flex justify-content-between align-items-baseline">
      <div class="mainTitleContents mb-3">
          <h2 class="titleText h2 text-blue">Explore Popular Categories</h2>
          <p class="subTitleText mb-2">Explore must popular business categorie on the Island.</p>
      </div>
      <div class="filterOption">
          {% comment %} <a href="#" class="btn btn-sm">All Categories</a> {% endcomment %}
      </div>                
  </div>
  <!--            MAIN CATEGORIES -->
  <div class="grid-contents">
      <!--          SCHOOL CATEGORY-->
      {% if categories %}
      {% for category in categories %}
      <a href="{% url 'listings' %}?category={{ category.name }}" id="shools" style="background-image: linear-gradient(180deg, rgba(6, 58, 100, 0.74), rgba(6, 58, 100, 0.74)), url('{{ category.icon.url }}'); background-repeat: no-repeat;
      background-size:cover;">
          <h2 class="h2">{{category.name}} </h2>
          <p class="m-0 text-light">{{ category.cate_count }} listings</p>
      </a>

      {% endfor %}
      {% endif %}

  </div>
</section>

{% endblock %}