{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Banner content ======= -->
<section id="other-banner-content" class="d-flex align-items-center justify-content-center m-0 py-3">
  <div class="container">
    <div class="content">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8">
          <h1>Categories</h1>
        </div>
      </div>
    </div>
  </div>
</section> <!-- ======== Banner content end ======== -->

</section>
<!-- explore section header end -->
<!-- categories content -->
<section class="pb-5 py-5">
  <div class="container mb-5">
    <div class="row justify-content-center">

      <!-- Advance filter form content -->
      <div class="col-md-2 mt-4 text-center">
        <h6 class="mb-3 text-dark font-weight-bold">Filter by category</h6>
        <form action="{% url 'listings' %}">
          <div class="container p-0 m-0">

            <div class="dropdown">
              <a class="btn btn-lg btn-outline-primary dropdown-toggle px-5" href="#" role="button"
                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'listings'%}">All</a>
                {% for category in categories %}
                <a class="dropdown-item" href="{% url 'listings' %}?category={{ category.name }}">{{ category.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Advance filter form content ends here -->


      <div class="card-deck pb-5 col-md-10 py-5">

        {% if listings %}
        {% for listing in listings %}

        <div class="customCard p-1 m-0 col-lg-4 col-md-4 col-sm-12 mt-sm-3">
          <div class="card">
            <div class="card-header p-0">
              <div class="blank rounded" style="background-image: url('{{ listing.photo_main.url }}'); background-repeat: no-repeat;
                              background-size:cover; width:100%; height: 15em; background-position:center-top" ;></div>
            </div>
            <div class="card-body">
              <div class="content-details">
                <h3 class="m-0 p-0 cardTitle text-upper font-weight-bold">{{ listing.name }}</h3>
                <p class="trunc">
                  {%autoescape off%}
                    {{ listing.description|striptags|truncatechars:100 }}
                  {%endautoescape%}
                </p>
                <a href="{% url 'listing' listing.id %}" class="btn btn-sm bg-blue text-light rounded-none">Read More</a>
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
          <p class="text-dark">No listings Available</p>
        </div>
        {% endif %}

      </div>

      <div class="row mx-auto">
        <div class="col-md-12 d-flex justify-content-center">
          {% if listings.has_other_pages %}
          <ul class="pagination">
            {% if listings.has_previous %}
            <li class="page-item">
              <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&laquo;</a>
            </li>
            {% endif %}
            {% for i in listings.paginator.page_range %}
            {% if listings.number == i %}
            <li class="page-item active">
              <a class="page-link">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if listings.has_next %}
            <li class="page-item">
              <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&raquo;</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}