{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Banner content ======= -->
  <section id="other-banner-content" class="d-flex align-items-center justify-content-center m-0 py-3">
    <div class="container">
      <div class="content">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-8">
            <h1>Blog</h1>
          </div>
        </div>
      </div>
    </div>
  </section> <!-- ======== Banner content end ======== -->

    <!-- ====== main content ===== -->
    <div class="mt-5 pt-5 pb-5 container d-flex"> 
        <div class="col-md-8 col-12">

            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'img/site-Sonar2014-SMT92.JPG' %}" alt="american_image">
                <div class="card-body text-dark">
                    <h5 class="card-title">Welcome to america</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non natus accusantium, ad soluta
                        nisi distinctio dolores tenetur
                        perspiciatis optio dolorem quasi obcaecati? Facilis est quisquam animi, dolorum odit sunt!.</p>
                    <div class="d-flex">
                        <i class="fa fa-user"> Travel, Lifestyle <Span class="p-2">|</Span></i>
                        <i class="fa fa-comments pl-2"> <span>3</span> Comments</i>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'img/australasia_papua_new_guinea_kavieng_thumbnail.jpg' %}"
                    alt="american_image">
                <div class="card-body text-dark">
                    <h5 class="card-title">Welcome to america</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non natus accusantium, ad soluta
                        nisi distinctio dolores tenetur
                        perspiciatis optio dolorem quasi obcaecati? Facilis est quisquam animi, dolorum odit sunt!.</p>
                    <div class="d-flex">
                        <i class="fa fa-user"> Travel, Lifestyle <Span class="p-2">|</Span></i>
                        <i class="fa fa-comments pl-2"> <span>3</span> Comments</i>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'img/australasia_papua_new_guinea_kavieng_thumbnail.jpg' %}"
                    alt="american_image">
                <div class="card-body text-dark">
                    <h5 class="card-title">Welcome to america</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non natus accusantium, ad soluta
                        nisi distinctio dolores tenetur
                        perspiciatis optio dolorem quasi obcaecati? Facilis est quisquam animi, dolorum odit sunt!.</p>
                    <div class="d-flex">
                        <i class="fa fa-user"> Travel, Lifestyle <Span class="p-2">|</Span></i>
                        <i class="fa fa-comments pl-2"> <span>3</span> Comments</i>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'img/australasia_papua_new_guinea_kavieng_thumbnail.jpg' %}"
                    alt="american_image">
                <div class="card-body text-dark">
                    <h5 class="card-title">Welcome to america</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non natus accusantium, ad soluta
                        nisi distinctio dolores tenetur
                        perspiciatis optio dolorem quasi obcaecati? Facilis est quisquam animi, dolorum odit sunt!.</p>
                    <div class="d-flex">
                        <i class="fa fa-user"> Travel, Lifestyle <Span class="p-2">|</Span></i>
                        <i class="fa fa-comments pl-2"> <span>3</span> Comments</i>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top" src="{% static 'img/australasia_papua_new_guinea_kavieng_thumbnail.jpg' %}"
                    alt="american_image">
                <div class="card-body text-dark">
                    <h5 class="card-title">Welcome to america</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non natus accusantium, ad soluta
                        nisi distinctio dolores tenetur
                        perspiciatis optio dolorem quasi obcaecati? Facilis est quisquam animi, dolorum odit sunt!.</p>
                    <div class="d-flex">
                        <i class="fa fa-user"> Travel, Lifestyle <Span class="p-2">|</Span></i>
                        <i class="fa fa-comments pl-2"> <span>3</span> Comments</i>
                    </div>
                </div>
            </div>


        </div>
        
<!--     RIGHT SECTION FOR EASY ACCESS-->
<div class=" col-md-4 text-dark d-sm-none d-md-block d-none d-sm-none">
  <div class="color col-md-12 p-4 mb-5">   
       <p class="col-12 p-3 bg-white d-flex justify-content-around">
       <input type="text"placeholder="Search Keyword" class="p-2 border-0 col-10">
       <i class="p-2 btn search  text-secondary fa fa-search"></i>
       </p>
      <button class='btn btn-outline-danger text-dark bg-white border-dark  col-md-12 p-3 mt-2 '>SEARCH</button>
  </div>
  
  
  <div class="color col-md-12 p-4 mb-5 ">  
       <h6 class="text-dark text-bold">Category</h6>
      <ul class="p-2">
        <li class="p-1 "><a class="text-dark" href="">Restuarant Food</a> <hr class="bg-dark"></li>
        <li class="p-1 "><a class="text-dark" href="">Travel News</a> <hr class="bg-dark"></li>
        <li class="p-1 "><a class="text-dark" href="">Modern technology</a> <hr class="bg-dark"></li>
        <li class="p-1 "><a class="text-dark" href="">Products</a> <hr class="bg-dark"></li>
        <li class="p-1 "><a class="text-dark" href="">Inspiration</a> <hr class="bg-dark"></li>
        <li class="p-1 "><a class="text-dark" href="">Healthcare</a> <hr class="bg-dark"></li>
      </ul>
  </div>
  
  <div class="color col-md-12 p-4 mb-5">   
       <p class="font1em Abscissa font-weight-bold col-12 p-3 border-dark border-bottom d-flex">
        Recent post
       </p>
       <div class="font1em col-12 p-1 border-dark border-bottom d-flex align-items-center">
            <img class="mr-4" src="{% static 'img/team/GP.jpg' %}" width="70px">
            <div>
              <p class=" col-12  Abscissa m-0 p-0">from life was you fish...</p>
              <p class="m-0 p-0 col-12  Futura1">January 12, 2019</p>
            </div>
       </div>
       <div class="font1em col-12 p-1 border-dark border-bottom d-flex align-items-center">
        <img class="mr-4" src="{% static 'img/team/GP.jpg' %}" width="70px">
          <div>
              <p class=" col-12  Abscissa m-0 p-0">The Amazing Hubble</p>
              <p class="m-0 p-0 col-12  Futura1">02 Hours Ago</p>
          </div>
       </div>
       <div class="font1em col-12 p-1 border-dark border-bottom d-flex align-items-center">
        <img class="mr-4" src="{% static 'img/team/GP.jpg' %}" width="70px">
          <div>
              <p class=" col-12  Abscissa m-0 p-0">Astrnomy or astrology</p>
              <p class="m-0 p-0 col-12  Futura1">03 Hours</p>
          </div>
       </div>
       <div class="font1em col-12 p-1 border-dark border-bottom d-flex align-items-center">
        <img class="mr-4" src="{% static 'img/team/GP.jpg' %}" width="70px">
          <div>
              <p class=" col-12  Abscissa m-0 p-0">Astroids Telescope</p>
              <p class="m-0 p-0 col-12  Futura1">01 Hours ago</p>
          </div>
       </div>
  </div>
  </div>
    </div>
    <!-- ====== End of main content ===== -->
{% endblock %}