{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y175H3SX2J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y175H3SX2J');
</script>

  <!-- bootstrap -->
  <link href="{% static 'vendor\bootstrap\css\bootstrap.min.css' %}" rel="stylesheet">

  <!-- css -->
  <link href="{% static 'assets\css\custom.css' %}" rel="stylesheet">

  <!-- light box -->
  <link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet">


  <!-- fontawesome -->
  <link href="{% static 'assets\css\fontawesome.css' %}" rel="stylesheet">

  <!-- material icon -->
  <link href="{% static 'assets\fonts\material-icon\css\material-design-iconic-font.min.css' %}" rel="stylesheet">

  <!-- Favicon  -->
  <link rel="icon" href="{% static 'img/favicon/favicon_16x16.png' %}">

  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <!--navbar-->
  {% include 'partials/_navbar.html' %}


  {% block content %} {% endblock %}

  <!-- footer -->
  {% include 'partials/_footer.html' %}

  <script src="{% static 'vendor\jquery\jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets\js\custom.js' %}"></script>
  <script src="{% static 'vendor\bootstrap\js\bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor\bootstrap\js\bootstrap.js' %}"></script>
</body>
</html>
